<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="generateService" value="true" />
        <option name="generateServiceInterface" value="true" />
        <option name="javaMapperPackage" value="cn.lcdiao.ssm.mapper" />
        <option name="javaMapperPath" value="$PROJECT_DIR$/webservice_mvn_ssm_server/src/main/java" />
        <option name="javaModelPackage" value="cn.lcdiao.ssm.entity" />
        <option name="javaModelPath" value="$PROJECT_DIR$/webservice_mvn_ssm_server/src/main/java" />
        <option name="lastDatabaseCrudChooseModuleName" value="webservice_mvn_ssm_server" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="webservice_mvn_ssm_server">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="cn.lcdiao.ssm.mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/webservice_mvn_ssm_server/src/main/java" />
                  <option name="javaModelPacakge" value="cn.lcdiao.ssm.entity" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/webservice_mvn_ssm_server/src/main/java" />
                  <option name="javaServiceInterfacePackage" value="cn.lcdiao.ssm.service" />
                  <option name="javaServiceInterfacePath" value="$PROJECT_DIR$/webservice_mvn_ssm_server/src/main/java" />
                  <option name="javaServicePackage" value="cn.lcdiao.ssm.service.impl" />
                  <option name="javaServicePath" value="$PROJECT_DIR$/webservice_mvn_ssm_server/src/main/java" />
                  <option name="xmlPackage" value="mapper" />
                  <option name="xmlPath" value="$PROJECT_DIR$/webservice_mvn_ssm_server/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="tableGenerateConfigs">
          <map>
            <entry key="ssm:user">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="" />
                  <option name="javaModelName" value="User" />
                  <option name="moduleName" value="webservice_mvn_ssm_server" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="xmlMapperPackage" value="mapper" />
        <option name="xmlMapperPath" value="$PROJECT_DIR$/webservice_mvn_ssm_server/src/main/resources" />
      </ProjectProfile>
    </option>
  </component>
</project>